body{
  background: url('https://wallpaperaccess.com/full/774613.jpg');
  background-attachment: fixed;
}
a{
  text-decoration: none;
  color: inherit;
  transition: 0.4s;
}

a:hover{
  opacity: 0.8;
}

